<launch>
  <!-- This launch file is for mantaray to move autonomously -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true" ns="mantaray">
    <rosparam command="load" file="$(find mantaray_rpi)/params/ekf_params.yaml" />
  </node>

  <!-- <node name="clocker" pkg="mantaray_rpi" type="clock.py" output="screen" respawn="true"/> -->
  <param name="simulation" type="bool" value="True"/>
  <node name="imu_publisher" pkg="mantaray_rpi" type="imu_publisher" output="screen" respawn="true" ns="mantaray"/>
  <node name="control" pkg="mantaray_rpi" type="main" output="screen" respawn="true" ns="mantaray"/> 
  <!--<node name="dvl_publisher" pkg="mantaray_rpi" type="dvl_publisher.py" output="screen" respawn="true"/>-->
  <!--<node name="thrusters" pkg="mantaray_rpi" type="control_pi_serial.py" output="screen" respawn="true"/>-->
</launch>
